{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="home-title-container">
    <h1 class="home-title">50K Miles to Redeem!</h1>
    <p class="home-subheader">Below are a few potential flights in which you may save some money!</p>
</div>
<div class="home-card-container">
    <div class="home-card">
        <h3>DFW - ATL</h3>
        <p>One-way Trip with American Airlines</p>
        <a href="https://www.google.com/travel/flights/booking?tfs=CBwQAhpAEgoyMDI0LTAxLTI4IiAKA0RGVxIKMjAyNC0wMS0yOBoDQVRMKgJBQTIEMTI0OGoHCAESA0RGV3IHCAESA0FUTEABSAFwAYIBCwj___________8BmAEC&tfu=CmxDalJJU0VsdFoyTnJMVWR2WkVGQlVVcDNiMUZDUnkwdExTMHRMUzB0YjNsalozVXhNMEZCUVVGQlIxY3lhVmR6UldjemNUaEJFZ1pCUVRFeU5EZ2FDd2krb3dJUUFob0RWVk5FT0J4d3ZxTUMSAggBIgA&hl=en-US&curr=USD">Go to Flight</a>
    </div>
    <div class="home-card">
        <h3>DFW - LAX</h3>
        <p>One-way Trip with American Airlines</p>
        <a href="https://www.google.com/travel/flights/booking?tfs=CBwQAhpAEgoyMDI0LTAxLTI4IiAKA0RGVxIKMjAyNC0wMS0yOBoDTEFYKgJBQTIEMTcwNmoHCAESA0RGV3IHCAESA0xBWEABSAFwAYIBCwj___________8BmAEC&tfu=CmxDalJJWjFJMFYweHJPRmc1WWtWQlVFWnJWRkZDUnkwdExTMHRMUzB0YjNsamFHRXhNMEZCUVVGQlIxY3lhVmxSUkRWalpXdEJFZ1pCUVRFM01EWWFDd2lDdHdJUUFob0RWVk5FT0J4d2dyY0MSAggBIgA&hl=en-US&curr=USD">Go to Flight</a>
    </div>
    <div class="home-card">
        <h3>DEN - DFW</h3>
        <p>One-way with American Airlines</p>
        <a href="https://www.google.com/travel/flights/booking?tfs=CBwQAhpAEgoyMDI0LTAxLTI4IiAKA0RFThIKMjAyNC0wMS0yOBoDREZXKgJBQTIEMjM1N2oHCAESA0RFTnIHCAESA0RGV0ABSAFwAYIBCwj___________8BmAEC&tfu=CmxDalJJTkRSWVRHNWxlR2RyWVRSQlMwMDFTa0ZDUnkwdExTMHRMUzB0TFc5MVptZ3hNRUZCUVVGQlIxY3lhV0ZaUmtWdWMybEJFZ1pCUVRJek5UY2FDd2krb3dJUUFob0RWVk5FT0J4d3ZxTUMSAggBIgMKATA&hl=en-US&curr=USD">Go to Flight</a>
    </div>
    <div class="home-card">
        <h3>DEN - LAX</h3>
        <p>One-way with American Airlines</p>
        <a href="https://www.google.com/travel/flights/booking?tfs=CBwQAhpEEgoyMDI0LTAyLTE0IiAKA0RFThIKMjAyNC0wMi0xNBoDTEFYKgJBQTIENjM0NjICQUFqBwgBEgNERU5yBwgBEgNMQVhAAUgBcAGCAQsI____________AZgBAg&tfu=CmxDalJJWjFJMFYweHJPRmc1WWtWQlVFZHZTM2RDUnkwdExTMHRMUzB0YjNsamFHRXhNMEZCUVVGQlIxY3lhVzg0VDNSbVFWVkJFZ1pCUVRZek5EWWFDZ2phY3hBQ0dnTlZVMFE0SEhEYWN3PT0SAggBIgMKATA&hl=en-US&curr=USD">Go to Flight</a>
    </div>
    <div class="home-card">
        <h3>JFK - DEN</h3>
        <p>One-way with American Airlines</p>
        <a href="https://www.google.com/travel/flights/booking?tfs=CBwQAhplEgoyMDI0LTAyLTE0IiAKA0pGSxIKMjAyNC0wMi0xNBoDREZXKgJBQTIEMjIzNCIfCgNERlcSCjIwMjQtMDItMTQaA0RFTioCQUEyAzQyMDICQUFqBwgBEgNKRktyBwgBEgNERU5AAUgBcAGCAQsI____________AZgBAg&tfu=CnRDalJJY0daUlJIVjBkbFZ0V0VWQlNtbEtWbWRDUnkwdExTMHRMUzB0YjNsamFXa3hNVUZCUVVGQlIxY3lhWEUwU1ZKQ2FUQkJFZ3hCUVRJeU16UjhRVUUwTWpBYUNnaWtiQkFDR2dOVlUwUTRISENrYkE9PRICCAEiAwoBMA&hl=en-US&curr=USD">Go to Flight</a>
    </div>
</div>
{% endblock %}